@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');




.noHabits {
    margin: 2rem 1.6rem;
    font-size: 1.1rem;
    font-family: 'Lexend Deca', sans-serif;
    color: #666666;
}